.header{
    border: 1px solid green;
}
.header__content{
    
}
.header__content--title{
    
} 
.header__content--subtitle {
    
}
.header__media--image {
    
}

.example {
    //display: none;
    // width: 200px;
    // height: 200px;
    // border: 20px solid #E8C48F;
    // overflow: scroll;
     position: absolute; 
    left: 180px;
    //  top: 180px
    /* padding: 20px;
    overflow: auto; */
}