
.navigation{
    border: 1px solid red;
   width: 90%;
   margin: auto;
   margin-top: 20px;
  
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.navigation__list--item{

}
.navigation__list--link{

}

